<%- include( '../partials/header', { title: title }) %>
<div class="main">
  <div class="book-page">
    <h2 class="book-page--title"><%= book.title %></h2>
    <p class="book-page--author"><%= book.author %></p>
    <p class="book-page--stream-count"><%= book.imgUrl %></p>
  </div>
</div>
<%- include( '../partials/footer') %>
